.user-info .compact {
    text-align: center;
    width: 100%;
    background: #666;
    border-radius: 10px;
    margin-bottom: 15px;
}

.user-display p {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 200;
    font-size: 17px; 
}


.user-info h3 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
