.user-display .container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 30px;
}


.user-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding-top: 20px;
}

.random-user-img{
    border-radius: 50%;
    margin-bottom: 20px;
}
